body {
    padding: 0px;
    margin: 0px;
}

header 
{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navTop {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.navItem {
    display: inline-block;
    padding: 14px 16px;

    
}

a {
    color: rgba(0,0,0,0.6);
}
.logo 
{
   height: 45px;
   padding: 10px;
   vertical-align: middle;
   
}

a {
    text-decoration: none;
}

.heroImage {

    width: 40%;  
    height: auto; 
    text-align: center;

}

.image {
    width: 80%;
    

}
.section1 {
    
    background-image: linear-gradient(to right, rgb(232, 109, 234) , rgba(220, 171, 23, 0.843));
    background-color: palevioletred;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 60px 0px;
    align-items: center;

    
    

}

.content {
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 500;
    font-size: 18px;
    width: 30%;

}


h1 {
    font-family: 'Gravitas One',display;
    font-weight: 700;
    font-size: 60px;
    color: #ffffff;
    line-height: 1.5em;
}

.paragraph1 {
    color: #ffffff;
}

footer {
    position: absolute;
    background: orange;
    height: auto;
    width: 100vw;
    color: #fff;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

#linkedinlogo {
    height: 33px;
    float: left;
    
}

.copyright {
  
}

.linkedIn {
   float: left; 
}

.line {
    width: 150px;
    height: 2px;
    background-color: orange;
}



.card {
    background-image: white
    background-color: palevioletred;
    width: 100%;
    justify-content: center;
    padding: 60px 0px;
    align-items: center;
    display: flex
    

}

.cardImage {
    
}

img.cardImage {
    height: 300px;
}
