body {
    padding: 0px;
    margin: 0px;
}

header 
{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navTop {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.navItem {
    display: inline-block;
    padding: 14px 16px;

    
}

a {
    color: rgba(0,0,0,0.6);
}
.logo 
{
   height: 65px;
   padding: 10px;
   vertical-align: middle;
   
}

a {
    text-decoration: none;
}

.heroImage {

    width: 70%;  
    height: auto; 
    text-align: center;

}

.image {
    width: 80%;
    

}
.section1 {
    
    background-image: linear-gradient(to right, rgb(232, 109, 234) , rgba(220, 171, 23, 0.843));
    background-color: palevioletred;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 100px 0px;
    align-items: center;

    
    

}

.content {
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 500;
    font-size: 18px;
    width: 30%;

}


h1 {
    font-family: 'Gravitas One',display;
    font-weight: 700;
    font-size: 60px;
    color: #ffffff;
    line-height: 1.5em;
}

.paragraph1 {
    color: #ffffff;
}

footer {
    position: absolute;
    background: orange;
    height: 60px;
    width: 100vw;
    color: #fff;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

#linkedinlogo {
    height: 33px;
    float: left;
    
}

.copyright {
  
}

.linkedIn {
   float: left; 
}

.line {
    width: 150px;
    height: 2px;
    background-color: orange;
}



.card{
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    background-color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
    margin: 3%;
}
.card img{
    width: 100%;
    height: 290px;
    object-fit: cover;
    border-radius: 17px 17px 0 0 ;
    -webkit-border-radius: 17px 17px 0 0 ;
    -moz-border-radius: 17px 17px 0 0 ;
    -ms-border-radius: 17px 17px 0 0 ;
    -o-border-radius: 17px 17px 0 0 ;
}
.cardContent{
    margin-top: -45px;
    padding: 24px 20px;
}
.card .cardTitle{
  font-size: 14px;
  font-family: 'Arial Black';
  font-style: normal;
  font-weight: 900;
    padding: 4px 24px;
  border-radius: 17px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
}
.primary{
    background-color:#9FBFCA;
    color: #086382;
}
  .secondary{
    background-color:#FFE4AA;
    color: #DF9900;
}
.info{
	    background-color:#ECACF2;
    color: #D651DC;
}
.cardBtn{
 		margin:0;
  	padding:0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #DF9900;
    text-decoration: none;
}
.title{
    margin-top:27px;
 		margin-bottom:12px;
    font-family: 'Arial Black';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    color: #000000;
}



.caseStudyTitle {
    background-image: linear-gradient(to right, rgb(1, 103, 35) , rgba(159, 240, 147, 0.843));
    text-align: center;
    padding: 5%;
}

img.phoneImg {
    height: 400px;
}

h1.titleSize {
   font-size: 100px;
}

.projectDescription {
    background-image: linear-gradient(to right, rgb(1, 103, 35) , rgba(159, 240, 147, 0.843));
    text-align: center;
    border-radius: 0 50px 0 0;
    margin: 100px;
    padding: 47px;
    box-shadow: 0px 80px 200px -20px rgb(0 0 0 / 54%);

}

h3 {
    color: #fff;
}

h1.research {
    color: black;
}
img.interview {
    height:450px;
    align-content: center;
}

.line2 {
    width: 528px;
    height: 2px;
    background-color: rgb(1 103 35);
}

img.affinity {
    height: 450px;
}

img.userPersona {
    height: 450px;
}

img.userFlow {
    height: 500px;
}

.content {
    margin: 3%;
    align-content: center;
    width: 80%;
}

img.lowfid {
    height: 450px;
}
img.testing 
{
    height: 450px;
}

img.iterations {
    height: 450px;
}

h4 {
    font-family: 'Syncopate',Helvetica,Arial,Lucida,sans-serif;
    text-transform: uppercase;
    font-size: 23px;
    line-height: 1.3em;
    color: #333;
    padding-bottom: 10px;
    line-height: 1em;
    font-weight: 500;
}

p {
    font-family: Open Sans,Arial,sans-serif;
    font-weight: 400;
    font-family: Open Sans,Arial,sans-serif;
    font-size: 18px;
    color: #666;
    line-height: 1.7em;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    margin-top: 0%;
}

li {
    font-family: Open Sans,Arial,sans-serif;
    font-weight: 400;
    font-family: Open Sans,Arial,sans-serif;
    font-size: 18px;
    color: #666;
    line-height: 1.7em;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}


.paragraph2 {
    color: black;
}

h2 {
    font-family: 'Oswald',Helvetica,Arial,Lucida,sans-serif;
    text-transform: uppercase;
    font-size: 31px;
    line-height: 1.6em;
    font-weight: 500;
    font-weight: bold;
}

.imgCaseStudy {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.copyright {
    color: white;
    display: inline;
}

